body {
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2 {
    color: #0056b3;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

/* Miglioramenti per l'accessibilità */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #0056b3;
}

/* Stili specifici per sezioni */
.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

/* Stili per migliorare la leggibilità del testo Braille e altre sezioni specifiche */
.braille, .work, .laws, .aquarium, .institution {
    font-size: 16px;
    line-height: 1.8;
}

/* Stili per le immagini, se presenti */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Stili per i bottoni o link che agiscono come tali */
.button, .toggle-dark-mode {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover, .toggle-dark-mode:hover {
    background-color: #0056b3;
}

.navigation-buttons {
    text-align: center;
    margin-top: 20px;
}

/* Stili per la modalità notturna */
.dark-mode, .night-mode {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.dark-mode a, .night-mode a, .dark-mode .button, .night-mode .button {
    color: #ecdb00;
}

.dark-mode .section, .night-mode .section {
    background-color: #34495e;
}

.dark-mode .button:hover, .night-mode .button:hover {
    background-color: #f1c40f;
}

.toggle-dark-mode {
    background-color: #fff;
    color: #333;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.toggle-dark-mode:hover {
    background-color: #e7e7e7;
}