@font-face {
    font-family: braille;
    src: url("../fonts/braille.ttf");
}
@font-face {
    font-family: bello;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
body {
    margin: 0;
    font-family: bello;
}

#header {
    background-color: #29b7ff;
    position: relative;
}
#header img {
    width: 3%;
}
.lingua {
    float: right;
}

